@import "vars"
@import "most"
@import "offer"
@import "reviews"
@import "anim"

.main-wrap
  background-image: url(../../img/main_bg.png)
  background-repeat: no-repeat
  background-size: cover
  height: 6.55rem
  position: relative
.main__top
  margin: 0
  text-align: center
  font-weight: 500
  color: $accent
  line-height: 0.24rem
  padding-top: 0.18rem
.main__vector
  position: absolute
  top: 2.02rem
  left: 0.14rem
  width: 1.08rem
.price
  display: flex
  flex-direction: column
  padding-top: 2.4rem
  padding-left: 0.3rem
  color: #fff
  font-weight: 500
  font-size: 0.3rem
  span
    color: $accent
    font-weight: 900
    font-size: 0.45rem
.main-slider
  margin-top: -0.5rem
  margin-bottom: 0.3rem
.main-slider__slide
  img
    width: 2.3rem
.main-slider__arrow
  &:after
    content: none
  img
    width: .58rem
.main-slider__arrow--prev
  left: 0.5rem
.main-slider__arrow--next
  right: 0.5rem

.sect1__content
  padding: .4rem 0
.sect1__item
  display: flex
  position: relative
  align-items: center
  padding-left: 0.2rem
  margin-bottom: 0.2rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    width: 4.4rem
  p
    position: absolute
    left: 1.66rem
    top: 49%
    transform: translateY(-50%)
    margin: 0

.sect2
  background-image: url(../../img/sect2__bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom
  padding-bottom: 0.6rem
.sect2
  color: #fff
p.sect2__center
  padding: .6rem .15rem
  margin: 0

.sect3
  padding-bottom: 0.6rem
.sect3__item
  display: flex
  align-items: center
  margin-bottom: 0.4rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    width: 1.8rem
  p
    font-weight: 200
    line-height: 0.24rem
    padding-left: .15rem
    margin: 0
  &:nth-child(even)
    flex-direction: row-reverse

.sect4
  background-image: url(../../img/sect4__bg.jpg)
  background-size: cover
  background-position: center bottom
.sect4__content
  padding: .3rem 0
.sect4__item
  display: flex
  flex-direction: column
  align-items: center
  color: #fff
  img
    flex-shrink: 0
    width: 2.04rem
  p
    padding: 0.15rem
    padding-right: 0.3rem

.sect5
  padding-top: 0.6rem
  h2
    color: #005B79
.sect6
  background-image: url(../../img/sect6__bg.jpg)
  background-size: cover
  background-position: bottom center
  margin-top: 0.4rem
  padding-top: .5rem
  padding-bottom: 0.6rem
  color: #fff

.sect6__item
  display: flex
  align-items: center
  justify-content: center
  position: relative
  img
    width: 4.3rem
  .img-wrap
    flex-shrink: 0
  p
    position: absolute
    top: 40%
    transform: translateY(-50%)
    margin: 0
  &:nth-child(even)
    p
      left: .8rem
  &:nth-child(odd)
    p
      right: .8rem
.sect7
  padding-top: 0.6rem
  padding-bottom: 0.6rem
  h2
    color: #005B79

.sect7__item
  display: flex
  padding: 0 .10rem
  align-items: center
  margin-bottom: 0.25rem
  &:last-child
    margin-bottom: 0
  p
    margin: 0
    font-weight: 400
    line-height: 0.28rem
  img
    flex-shrink: 0
    width: 0.98rem
    margin-right: 0.2rem

.form-area
  height: 6.3rem
  display: flex
  align-items: center
  justify-content: center
  position: relative
  overflow: hidden
  margin-top: -0.3rem
.form__bg
  position: absolute
  z-index: -1
  top: 0
  bottom: 0
  width: 6.5rem
  left: -1rem
form
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: border-box
  padding: 0 .2rem
    top: 0.3rem
    bottom: .5rem
  margin: 0 .2rem
  background: rgba(255, 255, 255, 0.9)
  border-radius: 20px
  width: 100%
  h3
    text-transform: uppercase
    color: #006080
    font-size: 0.26rem
    margin: 0
      bottom: .3rem
  input
    border: 1.14208px solid #9C9C9C
    box-sizing: border-box
    border-radius: 40px
    height: 0.82rem
    width: 100%
    padding-left: 0.4rem
    margin-bottom: .4rem
    color: #A7A7A7
    font-size: 0.21rem
    font-family: 'Montserrat', sans-serif
    letter-spacing: 0.01em
  .img-wrap
    margin-top: -0.1rem
.form__footer
  font-weight: normal
  font-size: 0.14rem
